 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
   }
   /* for inspection sake */
   .border-inspecting{
    border:2px solid red;
   }
   html{
      scroll-behavior: smooth;
   }
   body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
   }
   #hero{
      background-image:url('./assets/Hero-Image.svg');
      background-position: center;
      background-size: cover;
   }
   @layer components {
    .footer-headings{
       @apply text-pry2
    }
    .logo-width{
       @apply w-20 lg:w-28
    }
    .section-header{
      @apply text-primary font-bold text-3xl text-center
    }
    .section-spacing{
      @apply px-5 lg:px-11 py-32
    }
    .flex-container{
       @apply lg:flex justify-between
    }
    .transitions{
      @apply transition delay-200 duration-500 ease-in
       
    }
    .btn-join-waitList{
     @apply h-12 px-4 rounded-semi-round font-semibold
    }
}